<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZotClub</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <h1>ZotClub</h1>
        <h3>Lance Vu, Angela Yee, Thomas Nguyen</h3>
    </header>
    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search for clubs...">
        <a href="destination.html"><button id="searchButton">Search</button></a>
    </div>
    <div id="searchResults"></div>

    <script src="script.js"></script>
</body>
</html>
